.formContainer
{
    height: 100vh;
    width: 100%;
    background-image: url(../../assets/images/33_2.jpg);
    background-size: cover;
    background-position: center ;
}
.inscrit {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 40px;
    box-shadow: 0 0 30px 0 black;
    
}
